:root {
  --background: #ffffff;
  --foreground: #171717;
  --navbar-height: 100px;
  --color-white: #F4F1DE;
  --color-red: #E07A5F;
  --color-blue: #3D405B;
  --color-green: #81B29A;
  --color-yellow: #F2CC8F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-white);
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
